.navbar {
    background-color:#3c4245;
}

.issueCard {
    display: grid;
    grid-template-columns: auto;
}
.issue-card {
    background-color: #87aeaf;
    padding: 10px;
    color:white;
}

.issue-card > h4 > a {
    color:white;
    text-decoration-line: underline;

}
.issue-card > p > a {
    text-decoration-line: underline;
    color:blue;
    margin-left: 5px;
    margin-right: 5px;
}
.issue-card > p {
    margin-bottom: 2px;
    font-size: 12px;

}

.footer {
    background-color: #3c4245;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding:20px;
    font-size: 16px;
}